﻿@{
    ViewBag.Title = "Home Page";
}
  <!-- Start: MAIN CONTENT -->
<div class="content">
    <!-- Start: slider -->
    @{Html.RenderAction("_SliderView", "Home");}
    
    <!-- End: slider -->
    <!-- Start: PRODUCT LIST -->
    <div class="container">
        <div class="page-header">
            <h2>Our products</h2>
        </div>
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <img src="~/Content/img/placeholder-360x200.jpg" alt="product name">
                        <div class="caption">
                            <h3>Product name</h3>
                            <p>
                                Few attractive words about your product.Few attractive words about your product.
                                Few attractive words about your product.Few attractive words about your product.
                            </p>
                        </div>
                        <div class="widget-footer">
                            <p>
                                <a href="#" class="btn btn-primary">Buy now</a>&nbsp;
                                <a href="product.html" class="btn">Read more</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <img src="~/Content/img/placeholder-360x200.jpg" alt="product name">
                        <div class="caption">
                            <h3>Product name</h3>
                            <p>
                                Few attractive words about your product.Few attractive words about your product.
                                Few attractive words about your product.Few attractive words about your product.
                            </p>
                        </div>
                        <div class="widget-footer">
                            <p>
                                <a href="#" class="btn btn-primary">Buy now</a>&nbsp;
                                <a href="product.html" class="btn">Read more</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <img src="~/Content/img/placeholder-360x200.jpg" alt="product name">
                        <div class="caption">
                            <h3>Product name</h3>
                            <p>
                                Few attractive words about your product.Few attractive words about your product.
                                Few attractive words about your product.Few attractive words about your product.
                            </p>
                        </div>
                        <div class="widget-footer">
                            <p>
                                <a href="#" class="btn btn-primary">Buy now</a>&nbsp;
                                <a href="product.html" class="btn">Read more</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="page-header">
            <h2>Our Services</h2>
        </div>
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <img src="~/Content/img/placeholder-360x200.jpg" alt="product name">
                        <div class="caption">
                            <h3>Service title</h3>
                            <p>
                                Few attractive words about your service.Few attractive words about your service.
                                Few attractive words about your service.Few attractive words about your service.
                            </p>
                        </div>
                        <div class="widget-footer">
                            <p>
                                <a href="#" class="btn btn-primary">Try for free</a>&nbsp;
                                <a href="product.html" class="btn">Read more</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <img src="~/Content/img/placeholder-360x200.jpg" alt="product name">
                        <div class="caption">
                            <h3>Service title</h3>
                            <p>
                                Few attractive words about your service.Few attractive words about your service.
                                Few attractive words about your service.Few attractive words about your service.
                            </p>
                        </div>
                        <div class="widget-footer">
                            <p>
                                <a href="#" class="btn btn-primary">Try for free</a>&nbsp;
                                <a href="product.html" class="btn">Read more</a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="span4">
                    <div class="thumbnail">
                        <img src="~/Content/img/placeholder-360x200.jpg" alt="product name">
                        <div class="caption">
                            <h3>Service title</h3>
                            <p>
                                Few attractive words about your service.Few attractive words about your service.
                                Few attractive words about your service.Few attractive words about your service.
                            </p>
                        </div>
                        <div class="widget-footer">
                            <p>
                                <a href="#" class="btn btn-primary">Try for free</a>&nbsp;
                                <a href="product.html" class="btn">Read more</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End: PRODUCT LIST -->
</div>
<!-- End: MAIN CONTENT -->

